h3{
    padding-top: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }