.headline{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

h3{
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    border: 1px solid black;
    display: inline-block;
}