.filter-sidebar {
    position: fixed;
    top: 0;
    left: -400px; 
    width: 400px; 
    height: 100vh;
    overflow-y: auto;
    background-color: white; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    transition: left 0.3s ease; 
    z-index: 1000; 
  }
  
  .filter-sidebar.active {
    left: 0; 
  }
  
  
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }